<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_securtiy_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Woof"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA8Nw3kOI5uM11wjXL-VvRE7wrijc-TyWE" />

        <activity
            android:name=".View.MapActivity"
            android:exported="false"/>

        <activity
            android:name=".View.OwnerProfile"
            android:exported="false" />
        <activity
            android:name=".View.DogProfile"
            android:exported="false" />
        <activity
            android:name=".View.ChooseDogActivity"
            android:exported="false" />
        <activity
            android:name=".View.DogNameAndDobActivity"
            android:exported="false" />
        <activity
            android:name=".View.ChooseDogBreedActivity"
            android:exported="false" />
        <activity
            android:name=".View.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".View.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>